<head>

</head>

<body>
    <center>
        Welcome to the Ballmer Peak calculator!<br> This is a tool 
        intended to help one calculate their Ballmer Peak - that is, 
        the level of intoxication at which one is best at a given 
        activity. The idea comes from an <a 
        href="https://xkcd.com/323/">xkcd comic</a> that proposes that 
        a BAC of between 0.129% and 0.138% "confers superhuman 
        programming ability".<br><br> As in the original comic, I will 
        be approaching this from the perspective of programming, though 
        I may implement a few other topics at some point, as I feel the 
        Ballmer Peak is applicable in other contexts. <br><br> Of 
        course, only enter into this exercise if you are of legal age 
        to drink, and are capable of drinking responsibly. <br><br> The 
        science says that the Ballmer Peak is mostly false, but 
        anecdotally i find it is real, about a beer or two in.<br><br> 
        <a href="test"><button type="button">Enter the Ballmer 
        Test</button></a>
    </center>
</body>
