<!DOCTYPE html>
<head>
</head>
<body>
    <center>
	<div id="intro">
   	     Please enter the proof of the drink you'll be using<br>
   	     <input type="number" id="proof"><br>
	     <button id="subProof">Submit</button>
  	</div>
	<div id="quiz">
            <div id="question">
	        Write a javascript function, factorialCalc(int), that takes an integer and returns its factorial (multiply it by every integer less than it). 
  	    </div>
  	    <textarea id="ansr">
  	    </textarea><br>
	    <button id="subQuest">Submit</button>
	</div>
	<div id="message">
	     
	</div>
    </center>
</body>